<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484971886880-hh8j7hrl5j5g4d68lo5i9p2186r7208l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484971886880-hh8j7hrl5j5g4d68lo5i9p2186r7208l</string>
	<key>API_KEY</key>
	<string>AIzaSyB5PnCE1g-hD-j79MhfsBXQ4-2Wk2Sp_bw</string>
	<key>GCM_SENDER_ID</key>
	<string>484971886880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartHome</string>
	<key>PROJECT_ID</key>
	<string>smart-home-twohandm</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-home-twohandm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484971886880:ios:78a0ffde9722c411fbbf45</string>
</dict>
</plist>